.outer{
    border: 2px solid black;
    margin: 40px;

    overflow: hidden;
    border-radius: 10px;
}
.inner{
    
    border-radius:10px; 
    text-align: right;
    transition: 0.5s ease-in;
    background:green
}